<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>BloodBank & Donor Management System Become A Donor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/css/modern-business.css">
    <link rel="stylesheet" href="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="adminstyle.css">

</head>

<body style="background-image: url('./images/banner1.jpg')">
    <%-include("header")-%>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">ADMIN PANEL</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Registration</li>
        </ol>
        
        <form action="/users/become-donor" name="donor" method="POST">
            <% include ./partials/messages %>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="font-italic">Full Name<span style="color:red">*</span></div>
                    <div><input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                            value="<%= typeof name != 'undefined' ? name : '' %>" /></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="font-italic">Email Id<span style="color:red">*</span></div>
                    <div><input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" /></div>
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="font-italic">Password<span style="color:red">*</span></div>
                    <div><input type="password" id="password" name="password" class="form-control"
                            placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="font-italic">Confirm Password<span style="color:red">*</span></div>
                    <div><input type="password" id="password" name="password2" class="form-control"
                            placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div><button type="submit" name="submit" class="btn btn-primary" value="submit"
                            style="cursor:pointer">Submit</button></div>
                    
                </div>
                <div class="col-lg-4 mb-4">
                    <div><a href="/users/login" class="btn btn-secondary" value="submit"
                            style="cursor:pointer;margin-left: -210px;">Registered ?--> Login</a></div>
                </div>
            </div>
        </form>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; BloodBank & Donor Management System 2019</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/jquery/jquery.js"></script>
  <script src="https://www.amafx.com/wp-content/themes/AMA-FX/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>